<h1>Scroll down ↓</h1>

<nav
  class="nav"
  snScrollCollapse
  (scrollDirectionChange)="scrollDirectionHandler($event)"
  (affixChange)="affixHandler($event)"
  (minimiseChange)="minimiseHandler($event)"
>
  My nav&nbsp;
  <span class="down">Going down</span>
  <span class="up">Going up</span>
</nav>

<div class="spacer"></div>

<!-- nested element -->
<div class="bar-container">
  <div class="bar" snScrollCollapse>
    Sticky when scrolled passed
  </div>
</div>

<div class="spacer"></div>

<!-- nested element -->
<div class="bar-container">
  <div class="bar bar--offset" [yOffset]="200" snScrollCollapse>
    Classes applied when original Y position of element approaches yOffset. [yOffset]="200"
  </div>
</div>

<div class="spacer"></div>
