:host {
  display: block;
  font-family: Roboto, sans-serif;
}

.nav.sn-affix {
  padding-top: 100px;
}

.navInner {
  align-items: center;
  background-color: #563d7c;
  color: #fff;
  display: flex;
  height: 100px;
  justify-content: center;
  left: 0;
  right: 0;
  text-align: center;
  top: 0;
  transition: all 0.35s ease-in-out;

  .nav.sn-affix & {
    position: fixed;
  }

  .nav.sn-minimise & {
    background-color: #007bff;
    height: 50px;
  }
}

.nav .down,
.nav .up {
  display: none;
}

.nav.sn-scrolling-down .down,
.nav.sn-scrolling-up .up {
  display: block;
}

.bar {
  align-items: center;
  background-color: #d4edda;
  color: #fff;
  display: flex;
  height: 100px;
  justify-content: center;
  text-align: center;
  transition: all 0.35s ease-in-out;
}

.bar.sn-affix {
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 9999;
}

.bar.bar--offset.sn-affix {
  top: 100px;
}

.bar.bar--offset.sn-minimise {
  background-color: #586e5d;
  height: 50px;
}

.spacer {
  height: 150vh;
}

.bar-container {
  position: relative;
}
